/*==Parent Container=================================*/
.parent-container {
  border: black solid 2px;
  display: grid;
  grid-template-columns: 15% 85%;

}



/*==Sidebar===========================================*/
.sidebar {
  border: red solid 2px;
  grid-column: 1;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile-pic {
  border-radius: 42px;
  height: 90px;
  align-self: center;
  margin-top: 15px;
}

.name-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
    align-self: center;
}

h4 {
  color: #FFFFFF;
}

.dropdown-icon {
    height: 12px;
    margin-left: 7px;
}

aside p{
  color: #FFFFFF;
   padding: 30px 19px 0px;
  font-size: 1rem;
}

.categories {
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  width: 90%;
}

.main-admin-items {
  text-transform: uppercase;
  border: 0;
  background: #1E88E5;
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  text-align: left;
  padding: 0.55rem 1.2rem;
  width: 100%;
}
.checkbox {
  margin: 10px;
}
.side-item {
  color: #FFFFFF;
  background-color: gray;
  display: block;
  font-size: .7rem;
  align-self: flex-start;
}
.sidebar-icon {
  height: 20px;
  padding-right: .7rem;
}

.one,
.two {
  display: inline;
}

/*==Content Main Box==================================*/
.content-box {
  border: green solid 2px;
  grid-column: 2;
  grid-template-columns: 70% 30%;
}

/*==Search Box========================================*/
.search-box {
  border: blue solid 2px;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 8% 62% 30%;
}

input::placeholder{
    background-image: url(images/search-gray.png);
    background-repeat: no-repeat;
    text-indent: 30px;
    height: 40px;
    font-size: 1rem;
}

.search-menu {
  grid-column: 1;

}

.search-input {
  grid-column: 2;
  height: 50px;
  font-size: 1rem;
  text-indent: 30px;
  border: hidden;
  margin-top: 5px;
}

.div-search-btns {
  grid-column: 3;
  justify-self: right;
  align-self: center;
  margin-right: 20px;
}

.search-icon {
  height: 25px;
  justify-self: center;
  align-self: center;
}
.plusone {
  /*border: black solid 1px;*/
  padding: 16px;
}

.schedule {
  /*border: black solid 1px;*/
    padding: 16px;
}
.menu-grid {
  /*border: black solid 1px;*/
    padding: 16px;
}

/*==Title Box=========================================*/

.title-box {
  border: yellow solid 2px;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 15px 50px 35px;
}

h1 {
    margin: 0px 0px 0px 20px;
    grid-row: 2;
    font-size: 1.5rem;
    align-self: center;
}

.location-post {
  grid-row: 3/4;
}

.location-post-icon {
  display: inline;
  position: relative;
  height: 20px;
  margin-left: 20px;
  top: 5px;
}
.location-post-text{
    display: inline;
    margin-right: 10px;
    font-size: 0.9rem;
    color: black;
}

.title-btns-box {
  width: 277px;
  height: 50px;
  grid-row: 3;
  align-self: end;
  justify-self: end;
}

.btn-icon {
  height: 15px;
  margin-top: 4px;
}

.circle-btn {
  border-radius: 55px;
  height: 35px;
  width: 35px;
  margin-left: 10px;
}

.circle-icon {
  padding-right: 6px;
  padding-top: 3px;
}

.open-btn {
  border-radius: 55px;
  height: 35px;
  width: 100px;
  grid-column: 3/4;
  grid-row: 2/4;
  line-height: 2.3;
  text-align: center;
}

.open-txt {
  font-size: 0.8rem;
}

/*==Navigation Bar=====================================*/
.nav-bar-box {
  border: purple solid 2px;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 40px;
  align-items: start;
  justify-items: center;
}
 .nav-bar-box p {
  font-size: 0.8rem;
  text-transform: uppercase;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
 }


/*===Graphs============================================*/
.graphs-box {
  border: black solid 2px;
  grid-column: 1/2;
}

.graphs {
  width: 100%;
}


/*===Description/Links Box=============================*/
.descr-links-box {
  border: green solid 2px;
/*  grid-column: 1/2;*/
  display: grid;
  grid-auto-columns: 70% 30%;
}


/*===Job Description===================================*/
.job-descr-box {
  border: blue solid 2px;
  grid-column: 1;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 30% 70%;
  margin: 10px;
}

.job-descr-box p {
  line-height: 1.7;
}

.edit-btn {
    text-transform: uppercase;
    color: #FFFFFF;
    /* margin: 10px 0px 10px 14px; */
    background: gainsboro;
    /* color: white; */
    /* font-family: system-ui, sans-serif; */
    font-size: 0.8rem;
    width: 25%;
    border: hidden;
}

.edit-icon {
  margin-right: 10px;
}

.hiring-lead-pic {
  border-radius: 25px;
  height: 40px;
  margin-right: 10px;
  display: inline;
}

.hiring-lead-txt {
  display: inline;
}


.job-descr-header {
  background-color: gainsboro;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 30% 70%;
}

.job-descr-box h2 {
  margin: 10px 0px 10px 14px;
  text-transform: uppercase;
  font-size: 0.9rem;
  grid-column: 1/2;
  display: inline;
}

.job-descr-box h3 {
  margin: 10px 0px 10px 14px;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.job-descr-box p {
  margin: 10px 0px 10px 20px;
}

/*===Links=============================================*/
.links-box {
  border: yellow solid 2px;
  grid-column: 2;
}


/*===Media Queries======================================*/
@media(max-width: 640px){

  
}



